.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.container-body--menu {
  height: 550px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  -webkit-box-shadow: 3px 7px 5px -2px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 3px 7px 5px -2px rgba(0, 0, 0, 0.19);
  box-shadow: 3px 7px 5px -2px rgba(0, 0, 0, 0.19);

  .container {
      &--menu{
           margin-left: 50px;
            margin-right: 50px;
            margin-top: 50px;
      }
    margin-left: 50px;
    margin-right: 50px;
  }
  .pt-5{
      padding-top: 50px;
  }

  .block--menu {
    display: flex;
    justify-content: center;
    align-items: center;
    // margin: auto;
    // width: 60%;
    // display: flex;
    .butt-box {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .button-menu {
    &--click {
      min-width: 300px;
      min-height: 200px;
      padding: 30px 30px;
      background-color: #fff;

      border-radius: 10px;
      
    
     
      //  img{
      //   width: 30%;
      //   }
      position: relative;
        p{
          font-size: 28px;
          font-weight: bold;
          color: #828282;
          position: absolute;
          bottom: 10px;
          left: 0;
          right: 0;
        }
    }
    &--click:hover{
       border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
        -webkit-box-shadow: 3px 7px 5px -2px rgba(0, 0, 0, 0.19);
      -moz-box-shadow: 3px 7px 5px -2px rgba(0, 0, 0, 0.19);
      box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.19);
    }
   
  }
  
}
.container-detail--box{
  .detail--box{
    width: 100%;
    height: 600px;
  }
}
