.s1 {
  position: relative;
  width: 100%; }
  .s1 .swiper-container {
    scroll-behavior: smooth;
    height: 100%; }
  .s1 .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }
    .s1 .swiper-slide img {
      display: block;
      content: url(images/slide.jpg); }
      @media only screen and (max-width: 768px) {
        .s1 .swiper-slide img {
          content: url(images/slide-mb.jpg); } }

.wrap-s2 {
  height: 780px;
  padding-left: 100px;
  margin: auto; }
  @media only screen and (max-width: 768px) {
    .wrap-s2 {
      padding-left: 0;
      height: auto;
      padding-top: 50px;
      padding-bottom: 250px; } }
  .wrap-s2 .tool-tip-ex {
    text-decoration: underline;
    position: absolute;
    bottom: 53px;
    right: 18%;
    z-index: 3; }
    @media only screen and (max-width: 768px) {
      .wrap-s2 .tool-tip-ex {
        bottom: 210px;
        right: 39%;
        z-index: 1; } }
    .wrap-s2 .tool-tip-ex .tooltiptext {
      visibility: hidden;
      width: 300px;
      background-color: #02289d;
      color: #fff;
      text-align: center;
      border-radius: 15px;
      padding: 10px;
      position: absolute;
      z-index: 3;
      bottom: 125%;
      left: -125%;
      opacity: 0;
      transition: opacity 0.3s; }
      .wrap-s2 .tool-tip-ex .tooltiptext a {
        color: #fff;
        text-decoration: underline; }
    .wrap-s2 .tool-tip-ex .tooltiptext::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent transparent; }
    .wrap-s2 .tool-tip-ex:hover .tooltiptext {
      visibility: visible;
      opacity: 1; }
  .wrap-s2 .swiper-button-next,
  .wrap-s2 .swiper-button-prev {
    color: #000; }
  .wrap-s2 .swiper-container {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%; }
    @media only screen and (max-width: 768px) {
      .wrap-s2 .swiper-container {
        padding-left: 0px; } }
  .wrap-s2 .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #f2f2f2;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }
    .wrap-s2 .swiper-slide img {
      max-width: 100%;
      display: block; }
  .wrap-s2 .swiper-button-next,
  .wrap-s2 .swiper-container-rtl .swiper-button-prev {
    right: 14%;
    outline: none; }
    @media only screen and (max-width: 768px) {
      .wrap-s2 .swiper-button-next,
      .wrap-s2 .swiper-container-rtl .swiper-button-prev {
        right: 1%; } }
  .wrap-s2 .swiper-button-prev,
  .wrap-s2 .swiper-container-rtl .swiper-button-next {
    left: 14%;
    outline: none; }
    @media only screen and (max-width: 768px) {
      .wrap-s2 .swiper-button-prev,
      .wrap-s2 .swiper-container-rtl .swiper-button-next {
        left: 1%; } }
  @media only screen and (max-width: 768px) {
    .wrap-s2 .swiper-button-next:after,
    .wrap-s2 .swiper-button-prev:after {
      font-size: 26px; } }
  .wrap-s2 .mix-fraction {
    position: relative; }
    @media only screen and (max-width: 768px) {
      .wrap-s2 .mix-fraction {
        margin-top: 100px;
        position: fixed;
        bottom: 106px;
        z-index: 13;
        width: 100%; } }
    .wrap-s2 .mix-fraction .swiper-container-horizontal > .swiper-pagination-bullets,
    .wrap-s2 .mix-fraction .swiper-pagination-custom {
      text-align: left;
      bottom: 47px;
      left: 18%;
      width: 70%; }
      @media only screen and (max-width: 768px) {
        .wrap-s2 .mix-fraction .swiper-container-horizontal > .swiper-pagination-bullets,
        .wrap-s2 .mix-fraction .swiper-pagination-custom {
          text-align: left;
          bottom: 75px;
          left: 81px;
          width: 100%;
          background: #fff;
          padding: 15px 10px; } }
    .wrap-s2 .mix-fraction .swiper-pagination {
      margin-top: -68px;
      margin-left: 18%; }
      @media only screen and (max-width: 768px) {
        .wrap-s2 .mix-fraction .swiper-pagination {
          position: relative;
          margin-top: -106px;
          margin-left: 7px; } }
    .wrap-s2 .mix-fraction .swiper-pagination-bullet {
      width: 100px;
      height: 4px;
      display: inline-block;
      border-radius: 0%;
      opacity: 1;
      background: #e0e0e0;
      margin-right: 10px; }
      @media only screen and (max-width: 768px) {
        .wrap-s2 .mix-fraction .swiper-pagination-bullet {
          width: 30px;
          margin-right: 4px; } }
    .wrap-s2 .mix-fraction .swiper-pagination-bullet-active {
      background: #02289d; }
    .wrap-s2 .mix-fraction .fraction {
      position: absolute;
      bottom: 65px;
      z-index: 1;
      font-size: 30px;
      left: 18%; }
      @media only screen and (max-width: 768px) {
        .wrap-s2 .mix-fraction .fraction {
          position: relative;
          left: 0%;
          background: #fff;
          padding: 15px 26px; } }
    .wrap-s2 .mix-fraction #currentslide {
      font-size: 35px;
      font-weight: 800; }
    .wrap-s2 .mix-fraction #totalslide {
      font-size: 24px;
      font-weight: 800; }
      @media only screen and (max-width: 768px) {
        .wrap-s2 .mix-fraction #totalslide .title-page {
          display: none; } }

.container-body--menu {
  width: 100%;
  position: relative;
  z-index: 1;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-bottom: 30px; }
  .container-body--menu h3 {
    text-align: center;
    font-size: 42px; }
  .container-body--menu .container {
    width: 100%;
    margin-left: 50px;
    margin-right: 50px; }
    .container-body--menu .container--menu {
      margin-left: 50px;
      margin-right: 50px;
      margin-top: 50px;
      margin-right: auto;
      margin-left: auto; }
      @media only screen and (min-width: 1440px) {
        .container-body--menu .container--menu {
          max-width: 1200px; } }
  .container-body--menu .pt-5 {
    padding-top: 20px; }
  .container-body--menu .block--menu {
    display: flex;
    justify-content: left;
    align-items: center; }
    .container-body--menu .block--menu .butt-box {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px; }
      .container-body--menu .block--menu .butt-box .active {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        -webkit-box-shadow: 3px 7px 5px -2px rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 3px 7px 5px -2px rgba(0, 0, 0, 0.19);
        box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.19); }
        .container-body--menu .block--menu .butt-box .active p {
          color: #02289d; }
        .container-body--menu .block--menu .butt-box .active #mobile2 {
          content: url("images/icon/mb-2.png"); }
        .container-body--menu .block--menu .butt-box .active #tv2 {
          content: url("images/icon/tv-2.png"); }
        .container-body--menu .block--menu .butt-box .active #wmc2 {
          content: url("images/icon/wm-2.png"); }
        .container-body--menu .block--menu .butt-box .active #cloth2 {
          content: url("images/icon/cloth-2.png"); }
        .container-body--menu .block--menu .butt-box .active #refrig2 {
          content: url("images/icon/ref-2.png"); }
        .container-body--menu .block--menu .butt-box .active #ac2 {
          content: url("images/icon/ac-2.png"); }
        .container-body--menu .block--menu .butt-box .active #mc2 {
          content: url("images/icon/micro-2.png"); }
        .container-body--menu .block--menu .butt-box .active #robot2 {
          content: url("images/icon/robot-2.png"); }
      .container-body--menu .block--menu .butt-box #mobile:hover img {
        content: url("images/icon/mb-2.png"); }
      .container-body--menu .block--menu .butt-box #tv:hover img {
        content: url("images/icon/tv-2.png"); }
      .container-body--menu .block--menu .butt-box #wmc:hover img {
        content: url("images/icon/wm-2.png"); }
      .container-body--menu .block--menu .butt-box #cloth:hover img {
        content: url("images/icon/cloth-2.png"); }
      .container-body--menu .block--menu .butt-box #refrig:hover img {
        content: url("images/icon/ref-2.png"); }
      .container-body--menu .block--menu .butt-box #ac:hover img {
        content: url("images/icon/ac-2.png"); }
      .container-body--menu .block--menu .butt-box #mc:hover img {
        content: url("images/icon/micro-2.png"); }
      .container-body--menu .block--menu .butt-box #robot:hover img {
        content: url("images/icon/robot-2.png"); }
  .container-body--menu .block--menu {
    display: flex;
    flex-wrap: wrap; }
    .container-body--menu .block--menu .button-menu--click {
      width: 250px;
      min-width: 200px;
      min-height: 200px;
      background-color: #fff;
      outline: none;
      border-radius: 10px;
      position: relative; }
      .container-body--menu .block--menu .button-menu--click :focus {
        outline: none; }
      @media only screen and (max-width: 667px) {
        .container-body--menu .block--menu .button-menu--click {
          width: 140px;
          min-width: 0; } }
      .container-body--menu .block--menu .button-menu--click p {
        font-size: 28px;
        font-weight: bold;
        color: #828282;
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0; }
      @media only screen and (max-width: 667px) {
        .container-body--menu .block--menu .button-menu--click .clothes {
          font-size: 23px; } }
      @media only screen and (max-width: 667px) {
        .container-body--menu .block--menu .button-menu--click #cloth2 {
          width: 40%; } }
      @media only screen and (max-width: 667px) {
        .container-body--menu .block--menu .button-menu--click #ac2 {
          width: 60%; } }
      @media only screen and (max-width: 667px) {
        .container-body--menu .block--menu .button-menu--click #robot2 {
          width: 55%; } }
      @media only screen and (max-width: 667px) {
        .container-body--menu .block--menu .button-menu--click img {
          width: 40%; } }
    .container-body--menu .block--menu .button-menu--click:hover {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      -webkit-box-shadow: 3px 7px 5px -2px rgba(0, 0, 0, 0.19);
      -moz-box-shadow: 3px 7px 5px -2px rgba(0, 0, 0, 0.19);
      box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.19); }
      .container-body--menu .block--menu .button-menu--click:hover p {
        color: #02289d; }

.container-detail--box {
  overflow: hidden;
  width: 100%;
  position: absolute;
  margin-top: -10px;
  z-index: 1;
  /* Style the buttons inside the tab */
  /* Change background color of buttons on hover */
  /* Create an active/current "tab button" class */
  /* Style the tab content */
  /* Modal Content */
  /* The Close Button */ }
  .container-detail--box .bottom-de {
    width: 100%;
    height: 30px;
    background-color: #fff;
    position: absolute;
    top: 0;
    z-index: 3;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    -webkit-box-shadow: 3px 7px 5px -2px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 3px 7px 5px -2px rgba(0, 0, 0, 0.19);
    box-shadow: 3px 7px 5px -2px rgba(0, 0, 0, 0.19); }
  .container-detail--box .content-boxx {
    display: flex; }
  .container-detail--box .detail--box {
    position: relative;
    width: 100%;
    height: 780px; }
    @media only screen and (max-width: 768px) {
      .container-detail--box .detail--box {
        height: auto; } }
  .container-detail--box .tab {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 0;
    justify-content: space-around;
    background-color: #303030;
    width: 150px;
    max-height: 780px;
    height: 100%;
    z-index: 2;
    padding-top: 50px; }
    @media only screen and (max-width: 768px) {
      .container-detail--box .tab {
        bottom: 0;
        width: 100%;
        height: 105px;
        flex-wrap: nowrap;
        padding-top: 0px; } }
  .container-detail--box .service--tab {
    -webkit-box-shadow: 3px 7px 5px -3px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 3px 7px 5px -3px rgba(0, 0, 0, 0.19);
    box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.19); }
    .container-detail--box .service--tab .menu-left {
      width: 100%;
      position: relative; }
      .container-detail--box .service--tab .menu-left .active {
        border-right: 4px solid #fff;
        font-size: 23px;
        font-weight: bold; }
        .container-detail--box .service--tab .menu-left .active .img1 {
          content: url(images/icon/unbox-ac.png); }
        .container-detail--box .service--tab .menu-left .active .img2 {
          content: url(images/icon/inqu-ac.png); }
        .container-detail--box .service--tab .menu-left .active .img3 {
          content: url(images/icon/setting-ac.png); }
        .container-detail--box .service--tab .menu-left .active .img4 {
          content: url(images/icon/extra-ac.png); }
        @media only screen and (max-width: 768px) {
          .container-detail--box .service--tab .menu-left .active {
            border-top: 6px solid #fff;
            border-right: none;
            font-size: 17px; }
            .container-detail--box .service--tab .menu-left .active img {
              transform: scale(0.6); } }
    @media only screen and (max-width: 768px) {
      .container-detail--box .service--tab {
        z-index: 5;
        position: fixed;
        bottom: 0; } }
  .container-detail--box .tab button {
    display: block;
    background-color: inherit;
    color: #fff;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: right;
    cursor: pointer;
    transition: 0.4s;
    font-size: 17px; }
    @media only screen and (max-width: 768px) {
      .container-detail--box .tab button {
        text-align: center;
        padding: 7px 16px; } }
  .container-detail--box .tabcontent {
    float: left;
    background-color: #f2f2f2;
    width: 100%;
    height: 100%;
    position: relative; }
  .container-detail--box #Unbox .s2 {
    position: relative; }
  .container-detail--box .slide--01 .dt-show {
    display: block; }
    @media screen and (max-width: 768px) {
      .container-detail--box .slide--01 .dt-show {
        display: none; } }
  .container-detail--box .slide--01 .mb-show {
    display: none; }
    @media screen and (max-width: 768px) {
      .container-detail--box .slide--01 .mb-show {
        display: block; } }
  .container-detail--box .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 99999;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: black;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */ }
  .container-detail--box .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; }
    .container-detail--box .modal-content .modal-title {
      text-align: center; }
  .container-detail--box .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold; }
  .container-detail--box .close:hover,
  .container-detail--box .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer; }

/*# sourceMappingURL=main.css.map */
