.s1 {
  position: relative;
  width: 100%;
  .swiper-container {
    scroll-behavior: smooth;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    img {
      display: block;
      content: url(images/slide.jpg);

      @media only screen and (max-width: 768px) {
        content: url(images/slide-mb.jpg);
      }
    }
  }
}

.wrap-s2 {
  height: 780px;
  padding-left: 100px;
  // padding-top: 100px;
  margin: auto;
  @media only screen and (max-width: 768px) {
    padding-left: 0;
    height: auto;
    padding-top: 50px;
    padding-bottom: 250px;
  }
  .tool-tip-ex {
    text-decoration: underline;
    position: absolute;
    bottom: 53px;
    right: 18%;
    z-index: 3;

    @media only screen and (max-width: 768px) {
      bottom: 220px;
      right: 39%;
    }

    .tooltiptext {
      visibility: hidden;
      width: 300px;
      background-color: #02289d;
      color: #fff;
      text-align: center;
      border-radius: 15px;
      padding: 10px;
      position: absolute;
      z-index: 1;
      bottom: 125%;
      left: -125%;
      opacity: 0;
      transition: opacity 0.3s;

      a {
        color: #fff;
        text-decoration: underline;
      }
    }

    .tooltiptext::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent transparent;
    }

    &:hover .tooltiptext {
      visibility: visible;
      opacity: 1;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    color: #000;
  }
  .swiper-container {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    // padding-left: 90px;
    @media only screen and (max-width: 768px) {
      padding-left: 0px;
    }
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #f2f2f2;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    img {
      max-width: 100%;
      display: block;
    }
  }

  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    right: 13%;
    outline: none;
    @media only screen and (max-width: 768px) {
      right: 1%;
      
    }
  }
  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    left: 13%;
    outline: none;
    @media only screen and (max-width: 768px) {
      left: 1%;
    }
  }
  .swiper-button-next:after, .swiper-button-prev:after{
     @media only screen and (max-width: 768px) {
      
      font-size: 26px;
    }
  }
  .mix-fraction {
    position: relative;

    @media only screen and (max-width: 768px) {
      margin-top: 100px;
      position: fixed;
      bottom: 106px;
      z-index: 13;
      width: 100%;
    }

    .swiper-container-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-custom {
      text-align: left;
      bottom: 47px;
      left: 18%;
      width: 70%;
      @media only screen and (max-width: 768px) {
        text-align: left;
        bottom: 75px;
        left: 81px;
        width: 100%;
        background: #fff;
        padding: 15px 10px;
      }
    }
    .swiper-pagination {
      margin-top: -68px;
      margin-left: 264px;
      @media only screen and (max-width: 768px) {
        position: relative;
        margin-top: -106px;
        margin-left: -50px;
      }
    }
    .swiper-pagination-bullet {
      width: 100px;
      height: 4px;
      display: inline-block;
      border-radius: 0%;
      opacity: 1;
      background: #e0e0e0;
      margin-right: 10px;
      @media only screen and (max-width: 768px) {
        width: 30px;
        margin-right: 4px;
      }
    }
    .swiper-pagination-bullet-active {
      background: #02289d;
    }
    .fraction {
      position: absolute;
      bottom: 65px;
      z-index: 1;
      font-size: 30px;
      left: 18%;
      @media only screen and (max-width: 768px) {
        position: relative;
        left: 0%;
        background: #fff;
        padding: 15px 26px;
      }
    }

    #currentslide {
      font-size: 35px;
      font-weight: 800;
    }
    #totalslide {
      font-size: 24px;
      font-weight: 800;
      @media only screen and (max-width: 768px) {
        .title-page {
          display: none;
        }
      }
    }
  }
}
.container-body--menu {
  width: 100%;
  position: relative;
  z-index: 1;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  padding-bottom: 30px;
  h3 {
    text-align: center;
    font-size: 42px;
  }
  .container {
    width: 100%;
    &--menu {
      margin-left: 50px;
      margin-right: 50px;
      margin-top: 50px;
      margin-right: auto;
      margin-left: auto;
      @media only screen and (min-width: 1440px) {
        max-width: 1200px;
      }
    }
    margin-left: 50px;
    margin-right: 50px;
  }
  .pt-5 {
    padding-top: 20px;
  }

  .block--menu {
    display: flex;
    justify-content: left;
    align-items: center;
    // margin: auto;
    // width: 60%;
    // display: flex;
    .butt-box {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
      .active {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        -webkit-box-shadow: 3px 7px 5px -2px rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 3px 7px 5px -2px rgba(0, 0, 0, 0.19);
        box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.19);
        p {
          color: #02289d;
        }
        #mobile2 {
          content: url("images/icon/mb-2.png");
        }
        #tv2 {
          content: url("images/icon/tv-2.png");
        }
        #wmc2 {
          content: url("images/icon/wm-2.png");
        }
        #cloth2 {
          content: url("images/icon/cloth-2.png");
        }
        #refrig2 {
          content: url("images/icon/ref-2.png");
        }
        #ac2 {
          content: url("images/icon/ac-2.png");
        }
        #mc2 {
          content: url("images/icon/micro-2.png");
        }
        #robot2 {
          content: url("images/icon/robot-2.png");
        }
      }
      #mobile:hover {
        img {
          content: url("images/icon/mb-2.png");
        }
      }
      #tv:hover {
        img {
          content: url("images/icon/tv-2.png");
        }
      }
      #wmc:hover {
        img {
          content: url("images/icon/wm-2.png");
        }
      }
       #cloth:hover {
         img{
           content: url("images/icon/cloth-2.png");
         }
        }
      #refrig:hover {
        img {
          content: url("images/icon/ref-2.png");
        }
      }
      #ac:hover {
        img {
          content: url("images/icon/ac-2.png");
        }
      }
      #mc:hover {
        img {
          content: url("images/icon/micro-2.png");
        }
      }
       #robot:hover {
         img{
           content: url("images/icon/robot-2.png");
         }
        }
    }
  }
  .block--menu {
    display: flex;
    flex-wrap: wrap;
    .button-menu {
      &--click {
        :focus {
          outline: none;
        }
        width: 250px;
        min-width: 200px;
        min-height: 200px;
        // padding: 30px 30px;
        background-color: #fff;
        outline: none;
        border-radius: 10px;
        position: relative;
        @media only screen and (max-width: 667px) {
          width: 140px;
          min-width: 0;
        }
        p {
          font-size: 28px;
          font-weight: bold;
          color: #828282;
          position: absolute;
          bottom: 10px;
          left: 0;
          right: 0;
        }
        img {
          @media only screen and (max-width: 667px) {
            width: 40%;
          }
        }
      }
      &--click:hover {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        -webkit-box-shadow: 3px 7px 5px -2px rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 3px 7px 5px -2px rgba(0, 0, 0, 0.19);
        box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.19);
        p {
          color: #02289d;
        }
      }
    }
  }
}
.container-detail--box {
  overflow: hidden;
  width: 100%;
  position: absolute;
  margin-top: -10px;
  z-index: 1;

  .bottom-de {
    width: 100%;
    height: 30px;
    background-color: #fff;
    position: absolute;
    top: 0;
    z-index: 3;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    -webkit-box-shadow: 3px 7px 5px -2px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 3px 7px 5px -2px rgba(0, 0, 0, 0.19);
    box-shadow: 3px 7px 5px -2px rgba(0, 0, 0, 0.19);
  }
  .content-boxx {
    display: flex;
  }
  .detail--box {
    position: relative;
    width: 100%;
    height: 780px;
    @media only screen and (max-width: 768px) {
      height: auto;
    }
  }

  .tab {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 0;
    justify-content: space-around;
    background-color: #303030;
    width: 150px;
    max-height: 780px;
    height: 100%;
    z-index: 2;
    padding-top: 50px;
    @media only screen and (max-width: 768px) {
      bottom: 0;
      width: 100%;
      height: 105px;
      flex-wrap: nowrap;
      padding-top: 0px;
    }
  }

  .service--tab {
    -webkit-box-shadow: 3px 7px 5px -3px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 3px 7px 5px -3px rgba(0, 0, 0, 0.19);
    box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.19);

    .menu-left {
      width: 100%;
      position: relative;
      .active {
        border-right: 4px solid #fff;
        font-size: 23px;
        font-weight: bold;

        .img1 {
          content: url(images/icon/unbox-ac.png);
        }
        .img2 {
          content: url(images/icon/inqu-ac.png);
        }
        .img3 {
          content: url(images/icon/setting-ac.png);
        }
        .img4 {
          content: url(images/icon/extra-ac.png);
        }
        @media only screen and (max-width: 768px) {
          border-top: 6px solid #fff;
          border-right: none;
          font-size: 17px;
          img {
            transform: scale(0.6);
          }
        }
      }
    }
    @media only screen and (max-width: 768px) {
      // display: none;
      z-index: 5;
      position: fixed;
      bottom: 0;
    }
  }

  /* Style the buttons inside the tab */
  .tab button {
    display: block;
    background-color: inherit;
    color: #fff;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: right;
    cursor: pointer;
    transition: 0.4s;
    font-size: 17px;
    @media only screen and (max-width: 768px) {
      text-align: center;
      padding: 7px 16px;
    }
  }

  /* Change background color of buttons on hover */
  .tab button:hover {
    // background-color: #ddd;
  }

  /* Create an active/current "tab button" class */
  .tab button.active {
    // background-color: #ccc;
  }

  /* Style the tab content */
  .tabcontent {
    float: left;
    background-color: #f2f2f2;
    width: 100%;
    height: 100%;
    position: relative;
  }

  #Unbox {
    .s2 {
      position: relative;
    }
  }
  .slide--01 {
    .dt-show {
      display: block;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    .mb-show {
      display: none;
      @media screen and (max-width: 768px) {
        display: block;
      }
    }
  }

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }

  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
}
